body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 5%;
    align-items: center;
    background: darkgrey;
    color: slategray;
    height: 93vh;
    /* justify-content: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main {
    flex: 1;
}

.container {
    /* flex: 1 0 auto; */
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    /* border: 0.25rem solid black; */
    border-radius: 1rem;
    align-items: center;
    height: 45rem;
    max-width: 40rem;
    background: lavender;
}



.head {
    display: flex;
    flex-direction: column;
    /* border: 0.25rem solid black; */
    border-radius: 1rem;
    width: 90%;
    min-height: 10rem;
    margin: 1rem;
    gap: 0.5rem;
    padding: 1rem;
    align-items: flex-end;
    background: whitesmoke;
    /* justify-content: center; */
}

.head > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    word-break: break-all;
    text-align-last: right;
    
}

.input {
    flex: 1;
    font-size: 2rem;
    /* border: 0.25rem solid black; */
}

.result {
    flex: 4;
    font-size: 4rem;
    /* direction: rtl; */
    /* border: 0.25rem solid black; */
}

.linkbreak {
    width: 100%;
}

.body {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 95%;
    margin: 1rem;
    gap: 1rem;
}

/* cell */
.body > * {
    /* border: 0.125rem solid black; */
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
    background: seashell;
}

.body > *:hover {
    background: aliceblue;
}

@media (min-width: 700px) {
    .container {
        width: 40rem;
    }
}

footer > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer img {
    max-height: 1.5em;

}